body {
  font-family: "Just a Bear", arial;
  color: white;
  background: #905d41;
}

h1, h2 {
  text-shadow: 2px 2px 1px black;
  /* TODO ask Daniel what's the best way to vertically center h1, h2
     TODO Social Buttons (Facebook & Youtube under h1,h2) */
}

a,
a:hover,
a:visited {
  color: white;
}

a:hover {
  text-decoration: underline;
}

.table td {
  border-top: none;
}

nav {
  background: #905d41;
}

nav a {
  /*color inherited from a*/
}

nav a:hover {
  background: white;
  color: black;
  text-decoration: none;
}

section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.splash {
  background-image: url("../images/background-splash.jpg");
  background-position: top center;
}

.splash h2 {
  font-size: 40px;
}

.media {
  background-image: url("../images/background-media.jpg");
  /* TODO responsive video centered x&y in .media */
}

.live {
  background-image: url("../images/background-live.jpg");
  background-position: top center;
}

.live .backdrop {
  background: rgba(60, 60, 60, .7);
  overflow: auto;
}

.live td:first-child,
.live td:last-child {
  width: 150px;
}